

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; KDSH DEV / Desenvolvimento FullStack</p>
    <a target="_blank" href= 'https://www.linkedin.com/in/rogeriogomes2009/'>
      <img class="inline m-2" style="width: 36px;" src="/images/in.png"/>
    <a target="_blank" href= 'https://www.facebook.com/Kadoshdev-107388688527151'>
      <img class="inline m-2" style="width: 36px;" src='/images/fb.png' /></a>
    <a target="_blank" href= 'https://resume-rogeriogomes2009.vercel.app/'>
      <img class="inline m-2" style="width: 36px;" src='/images/pf.png' /></a>
    <a target="_blank" href= 'https://wa.me/5521972300670'>
      <img class="inline m-2" style="width: 36px;" src='/images/zap.png' /></a>
    <a target="_blank" href= 'mailto:kadoshdev@gmail.com'>
      <img class="inline m-2" style="width: 36px;" src='/images/mail.png' /></a>
  </div>

  
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="/js/scrolling-nav.js"></script>

</body>

</html>