<%- include ('partials/header.ejs') %>

   
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Sobre</h2>
            <p class="lead">Informações sobre as séries</p>
            <ul>
              <li>Iniciando aqui uma lista com os "names"</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <%- include ('partials/footer.ejs') %>
